body {
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

label {
      display: block;
      position: relative;
      margin: 8px;
}

input {
    background: transparent;
    text-underline-offset: 10px;
    border: none;
}

.registration-form {
    background-color: #ffffff;
    border-radius: 25px;
    color: rgb(82, 82, 82);
    padding: 12px;
    opacity: 0.69;
}

.input-underline {
    width: auto;
    height: 1px;
    background-color: rgba(23, 41, 27, 0.856);
}